################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
bin/
obj/
Debug/
Release/
.vs/
.git/
.idea/
node_modules/
