[class*='bp5-input'],
[class*='bp5-input']:focus,
[class*='button'],
[class*='button']:focus {
    outline: none;
    box-shadow: none;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.search-control {
    margin: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.search-control .reqs-input {
    display: flex;
}

.search-control .reqs-input [class*="-icon"] {
    margin: 10px;
}

.search-control .reqs-input input {
    width: 430px;
    border: 1px solid #ccc;
    margin-right: 5px;
    color: #5f6b7c;
    height: 36px;
}


.search-control button {
    height: 34px;
    width: 38px;
}

.content {
    padding: 0 25px;
}

.data-set {
    display: flex;
    justify-content: center;
}

.clear-all {
    text-align: left;
}

.clear-all button {
    margin-bottom: 5px;
    font-size: 12px;
}

.clear-all button span {
    color: #53b5f6;
}

.header .remove [data-icon] {
    width: 14px;
    height: 14px;
}

ul.diagrams {
    padding: 0;
    margin: 0;
    list-style: none;
}

li.diagram-item {
    padding: 8px;
    border: 1px solid #bbd9ed;
    margin-bottom: 5px;
    border-radius: 4px;
}

li.diagram-item .header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.diagram-item .header .remove {
    color: rgba(187, 217, 237, .8);
    visibility: hidden;
    cursor: pointer;
}

li.diagram-item .header .remove:hover {
    color: indianred;
}

li.diagram-item .header:hover .remove {
    visibility: visible;
}

li.diagram-item .header .name {
    width: 100%;
    margin-left: 5px;
    line-height: 30px;
    font-size: 16px;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
}

li.diagram-item .header .name:hover {
    background-color: rgba(187, 217, 237, .3);
}

li.diagram-item .header .name.active {
    background-color: rgba(187, 217, 237, .3)
}

li.diagram-item .header .name.active:hover {
    background-color: rgba(187, 217, 237, .2)
}

li.diagram-item .schema {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.source-code .tabs-source-code {
   padding-left: 15px;
}

.source-code .tabs-source-code [role="tablist"] div:focus {
    outline: none;
}


.source-code .tabs-source-code {
    overflow: auto;
}

.source-code .tabs-source-code .code-block {
    color: #800020;
}


.page-spinner {
    width: 100%;
    height: 100%;
    z-index: 18;

    .bp5-spinner {
        height: 100%;
    }
}

.source-code .tabs-source-code pre {
    outline: 1px solid #ccc; 
    padding: 5px; 
    margin-right: 10px; 
}

.source-code .tabs-source-code pre .string { 
    color: green; 
}

.source-code .tabs-source-code pre .number {
    color: darkorange;
}

.source-code .tabs-source-code pre .boolean {
    color: blue;
}

.source-code .tabs-source-code pre .null {
    color: magenta;
}

.source-code .tabs-source-code pre .key {
    color: red;
}